@tailwind utilities;
@reference "tailwindcss";

:root {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    @apply bg-linear-to-br from-purple-900 via-indigo-900 to-blue-900 min-h-screen text-white;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.error-wrapper {
    @apply flex flex-col items-center justify-center h-screen;
}

.error-wrapper .error-icon svg {
    @apply w-16 h-16 stroke-amber-400 mb-2;
}

.error-wrapper h1 {
    @apply text-3xl uppercase mb-2;
}

.error-wrapper p {
    @apply text-lg;
}